<div class="classes">

</div>

<div class="schedule">
  <div class="monday">
    <!-- Monday classes generated here -->
  </div>
  <div class="tuesday">
    <!-- Tuesday classes generated here -->
  </div>
  <div class="wednesday">
    <!-- Wednesday classes generated here -->
  </div>
  <div class="thursday">
    <!-- Thursday classes generated here -->
  </div>
  <div class="friday">
    <!-- Friday classes generated ehre -->
  </div>

</div>
