<div class="about-page">

  <div class="What">
    <h2>What is Schedule-Me?</h2>
    <p class="about-txt">
      Schedule-Me is a web app created to automatically check
      for time conflicts within a student's schedule. When the user
      adds classes to their class list, the class is checked for its start and end
      time to see if it conflicts with any other classes. If it does, the class
      doesn't get added to their list.
    </p>
  </div>

  <div class="Who">
    <h2>Who is Schedule-Me For?</h2>
    <p class="about-txt">
      Schedule-Me was created for students at small colleges and universities
      that don't neccessarily have the budget for these scheduling softwares
      for the students. Because of this, they often have to sit down
      and do paper registration with advisors, which can take hours
      depending on how many students are registering for classes at once.
    </p>
  </div>

  <div class="Creator">
    <h2>About the Creator</h2>
    <p class="about-txt">
      I'm just a community college student who hates long waits and Big Business.
      I wanted to make this free for students to use so they don't have to worry
      about remembering which classes they're interested in and if there are
      any time conflicts between them. I also like dogs and the color purple.
    </p>
  </div>

</div>
