<div class = "welcome">
  <div class="welc-form">

    <h1 class="welc-title">Welcome to {{title}}</h1>

    <form class="pure-form pure-form-stacked login-form" action="/login" method="post">
      <fieldset>
        <!-- <legend>Sign Up</legend> -->
        <label for="username">Username</label>
        <input class="welc-input" id="username" name="username" type="text">

        <label for="password">Password</label>
        <input class="welc-input" id="password" type="password" name="password">

        <button type="submit" class="pure-button pure-button-primary login-btn">Login</button>
      </fieldset>
    </form>

  </div>
</div>
