 <div>
   <form class="pure-form pure-form-stacked" action="/login" method="post">
     <fieldset>
       <legend>Log in</legend>

       <label for="username">Username</label>
       <input id="username" type="text" name="username" placeholder="username">

       <label for="password">Password</label>
       <input id="password" type="password" name="password" placeholder="password">

       <button type="submit" class="pure-button pure-button-primary">Submit</button>

     </fieldset>

     <a class="pure-button" href="/">Go Back</a>
   </form>
 </div>
