.about-page {
  grid-area: main;
  display: grid;
  grid-template-areas: "left mid right";
  justify-content: center;
  padding: 50px;

}

.What, .Who, .Creator {
  margin: 10px;
  
  text-align: center;
  background-color: rgb(220, 220, 220);
  border-radius: 20px;
}

.about-txt {
  text-align: left;
  padding: 2em;
  line-height: 2em;
}
