/* font + color styling */
body, label, a, input, .pure-button, .pure-form legend, .pure-menu-link {
    font: 15px "Arial", Helvetica, Arial, sans-serif;
    color: rgb(38, 38, 38);
}

.pure-button {
  background-color: rgb(86, 71, 188);
  border-radius: 10px;
  color: white;
}

/* Grid Layout for body */
body {
  display: grid;
  grid-template-areas: "nav"
                        "main"
                        "footer"
}

main {
  padding: 1em;
}

label {
  padding-top: 10px;
}

/* Class Selectors */
.navigation {
  display: flex;
  grid-area: nav;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 70px;
  margin: 10px 0px;
  padding: 0px 60px 0px 60px;
}

.nav-links {
  display: flex;
  align-items: center;
}

/* Styling for body */
.welcome {
  grid-area: main;
  display: grid;
  grid-template-areas: "left mid right";
}

.welc-form {
  grid-area: mid;
}

/* Styling for login */
label[for="password"]{
  padding-top: 3em;
}

.welc-title {
  text-align: center;
}

.login-form {
  margin: 0px auto;
  padding-top: 20px;

  padding: 1em;
  height: 300px;
  width: 350px;


  background-color: rgb(220, 220, 220);
  border-radius: 20px;
}

.welc-input {
  width: 100%;
  height: 50px;

  border: 0;
}

.login-btn {
  margin-top: 2em;
  border-radius: 10px;

  height: 3em;
  width: 100%;
}
