/* body styling */

h3 {
  padding-left: 20px;
}

.home-container {
  grid-area: main;
  display: grid;
  grid-template-areas: "left right right";

  grid-template-columns: 300px 1fr;
  padding: 10px 10px;

  /* background-color: blue; */
}

/* Styling for the left side of the pg */
input[type="time"]{
  width: 100%;

}


label[for="days"] {
  display:block;
  float: left;
  width: 50%;
  margin-bottom: 15px;
}

.left {
  grid-area: left;

  padding: 10px;
  /* width: 200px; */
}

.class-form {
  width: 200px;
  padding: 20px;

  background-color: rgb(220, 220, 220);
  border-radius: 20px;
}

.add-class-btn {
  width: 100%;
  margin-top: 10px;
}



/* Styling for the right side of the pg */

.right {
  padding: 10px;

  grid-area: right;

}

h3[for="right"] {
  border-bottom: 1px solid;
}

.delete-btn {
  /* grid-area: button; */
  margin-top: 20px;
  padding-left: 20px;
}

.class-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.class-card {
  /* grid-area: class; */
  justify-content: space-around;
  padding-left: 20px;
  margin-top: 10px;
  margin-left: 20px;


  height: 120px;
  width: 200px;
  background-color: rgb(220, 220, 220);
  border-radius: 20px;
}
