<h3>Hello, {{userName}}!</h3>

<a class="pure-button" href="../classes/new">Add class</a>

<div>
  <p>Show classes here:</p>
  <ul>
    {{#each classes as |class|}}
    <li>{{class.title}}</li>
    {{/each}}
  </ul>
</div>
