<!--
-
- This is what's rendered when a new user wants to sign up
-
-->
<div>

  <form action="/users" method="post">
      <legend>Sign Up</legend>

      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" name="username" class="form-control" type="text" placeholder="username">
      </div>

      <div class="text-left">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>

  </form>

</div>
