<!--
-
- This is what's rendered when a new user wants to sign up
-
-->
<div class = "welcome">
  <div class="welc-form">

    <h1 class="welc-title">Sign Up</h1>

    <form class="pure-form pure-form-stacked user-form" action="/users" method="post">
      <fieldset>

        <label for="username">Username</label>
        <input class="user-input" id="username" name="username" type="text" placeholder="username">

        <label for="password">Password</label>
        <input class="user-input" id="password" type="password" name="password" placeholder="password">

        <button type="submit" class="pure-button pure-button-primary front-btn">Submit</button>
      </fieldset>
    </form>

    <a class="pure-button " href="../">Back to Welcome</a>

  </div>
</div>
