<!--
-
- This is what's rendered when a new user wants to add a class
-
-->
<div>

  <form class="pure-form pure-form-stacked" action="/classes" method="post">
    <fieldset>
      <legend>New Class</legend>

      <label for="title">Title</label>
      <input id="title" name="title" type="text" placeholder="Class Title">

      <label for="start_time">Start Date</label>
      <input id="start_time" type="time" name="start_time">

      <label for="end_time">End Date</label>
      <input id="end_time" type="time" name="end_time">

      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>

  <a class="pure-button" href="../home/">Go Back</a>

</div>
