
<div class="class-form">

  <form class="pure-form pure-form-stacked" action="/classes" method="post">
    <fieldset>
      <legend>New Class</legend>

      <label for="title">Title</label>
      <input id="title" name="title" type="text" placeholder="Class Title">

      <label for="days">Days the Class Takes Place</label>
        <input id="days" name="days" value=1 type="checkbox">Monday
        <input id="days" name="days" value=2 type="checkbox">Tuesday
        <input id="days" name="days" value=3 type="checkbox">Wednesday
        <input id="days" name="days" value=4 type="checkbox">Thursday
        <input id="days" name="days" value=5 type="checkbox">Friday

      <label for="start_time">Start Time</label>
      <input id="start_time" type="time" name="start_time" min="8:00" required>

      <label for="end_time">End Time</label>
      <input id="end_time" type="time" name="end_time" max="21:00" required>

      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </fieldset>
  </form>

  <a class="pure-button" href="../home/">Go Back</a>

</div>
